@model registrodepersonal.tblareatrabajo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblareatrabajo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDJefeArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDJefeArea)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDArea }) |
    @Html.ActionLink("Back to List", "Index")
</p>
